{% extends 'base.html' %}


{% block content %}
    <h3>Welcome to {{user}}'s Page</h3>

    {% for snippet in user.snippets.all %}
    <ul>
        <li>
        <div>
            <p>Title: {{snippet.title}}</p>
            <div class="code-block">
            <p> Code: {{snippet.code}}</p>
            </div>
            <p>Language: {{snippet.language}}</p>
            <button><a href="{% url 'delete-snippet' pk=snippet.pk %}">DELETE SNIPPET</a></button>
        </div>
        </li>
    </ul>
    {% endfor %}
    <div class="edit-delete-buttons">
    <button><a href="{% url 'add-snippet' %}">NEW SNIPPET</a></button>
    </div>
{% endblock %}