{% extends 'base.html' %}


{% block content %}
    <h2>Welcome to {{user}}'s Page</h2>

    {% for snippet in user.snippets.all %}
    <ul>
        <li>
        <div class="snippet-box">
            <p>Title: {{snippet.title}}</p>
            <div class="code-block">
            <p> Code: {{snippet.code}}</p>
            </div>
            <p>Language: {{snippet.language}}</p>
            {% if snippet.user == request.user %}
            <button class="delete-buttons"><a href="{% url 'delete-snippet' pk=snippet.pk %}">DELETE SNIPPET</a></button>
            <button><a href="{% url 'edit-snippet' pk=snippet.pk %}">EDIT SNIPPET</a></button>
            {% endif %}
        </div>
        </li>
    </ul>
    {% endfor %}
    <div class="edit-delete-buttons">
    <button><a href="{% url 'add-snippet' %}">NEW SNIPPET</a></button>
    </div>
{% endblock %}