{% extends 'base.html' %}

{% block content %}
    <h2>Welcome to {{profile.username}}'s Page</h2>
    {% if profile.user_image %}
    <img src="{{ profile.user_image.url }}" style="width:200px;height:200px;"> 
    {% endif %}
    <button><a href="{% url 'edit-profile' pk=profile.pk %}">EDIT PROFILE</a></button>

    
    <br>
    <br>
    <button><a href="{% url 'add-snippet' %}">NEW SNIPPET</a></button>


    {% for snippet in user.snippets.all %}
    <ul>
        <li>
        <div class="snippet-box">
            <p>Title: {{snippet.title}}</p>
            <div class="code-block">     
            Code: <pre><code class="language-{{snippet.language}}">{{snippet.code}}</code></pre>
            </div>
            <p>Language: {{snippet.language}}</p>
            {% if snippet.user == request.user %}
            <button data-url="{% url 'delete-snippet' pk=snippet.pk %}" class="delete-buttons" id={{snippet.pk}}>DELETE SNIPPET</button>
            <button><a class="edit-button" href="{% url 'edit-snippet' pk=snippet.pk %}">EDIT SNIPPET</a></button>
            {% endif %}
        </div>
        </li>
    </ul>
    {% endfor %}
    <div class="edit-delete-buttons">
    </div>
{% endblock %}