{% extends 'base.html' %}
{% load gravatar %}
{% block content %}

<body>
   

    {% for snippet in snippets %}
        <ul>
        <div class="hp-snip">
            <li>
             <img src="{% gravatar_url user.email 150 %}"/>   
            <p>User: <a href="{% url 'developer-profile' pk=snippet.user.pk %}">
                {{snippet.user}}</a></p>
                <div class="code-block">
                {{snippet.code}}
                </div>

            </li>
        </div>    

                <button><a href="{% url 'copy-snippet' pk=snippet.pk %}">SNIPE</a></button>
        </li>

        </ul>
    {% endfor %}

</body>
</html>

{% endblock %}

