{% extends 'base.html' %}

{% block content %}

<body>

    {% for snippet in snippets %}
        <ul>
        <div class="hp-snip">
            <li>

                {% if snippet.user.profile.user_image %}
                <img src="{{ snippet.user.profile.user_image.url }}" style="width:200px;height:200px;"> 
                {% endif %}
                <p>USER: <a href="{% url 'developer-profile' pk=snippet.user.pk %}">
                {{snippet.user.profile.username}}</a></p>
                <p>TITLE: {{snippet.title}}</p>

                <div class="code-block">
                    <pre><code class="language-{{snippet.language}}">{{snippet.code}}</code></pre>
                </div>

            </li>
        </div>    

                <button><a href="{% url 'copy-snippet' pk=snippet.pk %}">SNIPE</a></button>
            </li>

        </ul>
    {% endfor %}

</body>
</html>

{% endblock %}

