{% extends 'base.html' %}

{% block content %}

<body>
   
    <details>
        <summary>LIBRARY</summary>
        <li>{{ snippet.code }}</li>
    </details>

    {% for snippet in snippets %}
        <ul>
        <div class="hp-snip">
            <li>
            <p>User: <a href="{% url 'developer-profile' pk=snippet.user.pk %}">
                {{snippet.user}}</a></p>
                <div class="code-block">
                {{snippet.code}}
                </div>

            </li>
        </div>    

                <button><a href="{% url 'copy-snippet' pk=snippet.pk %}">SNIPE</a></button>
        </li>

        </ul>
    {% endfor %}

</body>
</html>

{% endblock %}

